<mat-sidenav-container class="sidenav-container vh-100">
    <mat-sidenav id="sidenav-content" #sidenav mode="side" [(opened)]="opened">
        <app-sidebar-nav></app-sidebar-nav>
    </mat-sidenav>
    <mat-sidenav-content id="dash-content">
        <mat-toolbar>
            <button mat-button (click)="sidenav.toggle()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
            <app-top-nav *ngIf="mostra"></app-top-nav>
        </mat-toolbar>
        <div>
            <ngb-toast class="mt-3 text-center text-dark mt-3 mx-4" *ngIf="show" header="Istruzioni" [autohide]="false"
                (hidden)="show=false">
                Per inserire una provincia inserire nome e sigla e premere su <b>"Inserisci Provincia"</b>
            </ngb-toast>
            <ngb-toast class="mt-3 text-center text-dark mt-3 mx-4" *ngIf="show" header="Istruzioni" [autohide]="false"
                (hidden)="show=false">
                Per inserire un comune selezionare la provincia nel menù a tendina e inserire il nome e premere su
                <b>"Inserisci Comune"</b>
            </ngb-toast>
            <div class="container mt-5">
                <div class="row">
                    <div class="col Personalform">
                        <form class="text-center">
                            <h1 class="text-center">Provincia</h1>
                            <div class="form-group">
                                <input required type="text" name="nomeprov" [(ngModel)]="provinciaSelected.nome"
                                    oninput="this.value = this.value.toUpperCase()" class="form-control"
                                    placeholder="Inserisci Nome Provincia">
                            </div>
                            <div class="form-group">
                                <input required type="text" name="siglaprov" [(ngModel)]="provinciaSelected.sigla"
                                    oninput="this.value = this.value.toUpperCase()" class="form-control"
                                    placeholder="Inserisci Sigla Provincia">
                            </div>
                            <button (click)="addProvincia()" class="btn btn_fucsia mt-3">Inserisci Provincia</button>
                        </form>
                    </div>
                    <div class="col Personalform">
                        <form class="text-center">
                            <h1 class="text-center">Comune</h1>
                            <div class="form-group">
                                <select required id="inputState" (ngModelChange)="onChangeProvincia($event)"
                                    (ngModel)="provinciaSelected" [ngModelOptions]="{standalone: true}"
                                    class="form-control">
                                    <option selected>Provincia</option>
                                    <option [ngValue]="provincia" *ngFor="let provincia of province">{{provincia.sigla}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input required type="text" name="nomecomun" [(ngModel)]="comune.nome"
                                    oninput="this.value = this.value.toUpperCase()" class="form-control"
                                    placeholder="Inserisci Nome Comune">
                            </div>
                            <button (click)="addComune()" class="btn btn_fucsia mt-3">Inserisci Comune</button>
                        </form>
                    </div>
                </div>
                <ngb-toast class="mt-3 text-center text-dark mt-3 mx-4" *ngIf="prov" header="Istruzioni"
                    [autohide]="false" (hidden)="prov=false">
                    Non hai inserito tutti i campi <b>OBBLIGATORI</b> nell'inserimento della <b>provincia</b>
                </ngb-toast>
                <ngb-toast class="mt-3 text-center text-dark mt-3 mx-4" *ngIf="com" header="Istruzioni"
                    [autohide]="false" (hidden)="com=false">
                    Non hai inserito tutti i campi <b>OBBLIGATORI</b> nell'inserimento del <b>comune</b>
                </ngb-toast>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>