<ngb-toast class="text-right text-dark mt-3 mb-5 mx-4" *ngIf="show" header="Notifica di servizio" [autohide]="false"
(hidden)="show=false">
Per inserire una provincia o un comune cliccare qui:
<button type="button" (click)="goToAddCandP()" class="btn btn_fucsia btn-sm my-1 w-100"><i class="bi bi-plus"></i></button>
</ngb-toast>
<div  class="mt-3 Personalform">
    <form class="mt-5">
        <h1 class="text-center">{{titoloForm}}</h1>
        <h4 class="text-center mt-5">Dati Generali</h4>
        <div class="form-row m-3">
            <div class="col">
                <label>Ragione Sociale</label>
                <input type="text" name="ragioneSociale" [(ngModel)]="cliente.ragioneSociale" class="form-control"
                    placeholder="Ragione Sociale">
            </div>
            <div class="col">
                <label>Partita Iva</label>
                <input type="text" name="partitaIva" [(ngModel)]="cliente.partitaIva" class="form-control"
                    placeholder="Partita Iva">
            </div>
            <div class="col">
                <label>Tipo Cliente: {{cliente.tipoCliente}}</label>
                <select [(ngModel)]="cliente.tipoCliente" name="tipoCliente" class="form-control">
                    <option *ngFor="let tipi of tipiCliente">{{tipi}}</option>
                </select>
            </div>
        </div>
        <div class="form-row m-3">
            <div class="col">
                <label>Email</label>
                <input type="text" name="email" [(ngModel)]="cliente.email" class="form-control" placeholder="Email">
            </div>
            <div class="col">
                <label>Pec</label>
                <input type="text" name="pec" [(ngModel)]="cliente.pec" class="form-control" placeholder="Pec">
            </div>
            <div class="col">
                <label>Telefono</label>
                <input type="text" name="telefono" [(ngModel)]="cliente.telefono" class="form-control"
                    placeholder="Telefono">
            </div>
        </div>
        <div class="form-row m-3">
            <div class="col">
                <label>Nome Contatto</label>
                <input type="text" name="nomeContatto" [(ngModel)]="cliente.nomeContatto" class="form-control"
                    placeholder="Nome Contatto">
            </div>
            <div class="col">
                <label>Cognome Contatto</label>
                <input type="text" name="cognomeContatto" [(ngModel)]="cliente.cognomeContatto" class="form-control"
                    placeholder="Cognome Contatto">
            </div>
            <div class="col">
                <label>Telefono Contatto</label>
                <input type="text" name="telefonoContatto" [(ngModel)]="cliente.telefonoContatto" class="form-control"
                    placeholder="Telefono Contatto">
            </div>
            <div class="col">
                <label>Email Contatto</label>
                <input type="text" name="emailContatto" [(ngModel)]="cliente.emailContatto" class="form-control"
                    placeholder="Email Contatto">
            </div>
        </div>
        <h4 class="text-center">Dati di indirizzo Sede Operativa</h4>
        <div class="form-row m-3">
            <div class="col-4">
                <label>Via</label>
                <input type="text" name="indirizzoSedeOperativaVia" [(ngModel)]="cliente.indirizzoSedeOperativa.via"
                    class="form-control" placeholder="Via">
            </div>
            <div class="col-1">
                <label>N°</label>
                <input type="text" name="indirizzoSedeOperativaCiv" [(ngModel)]="cliente.indirizzoSedeOperativa.civico"
                    class="form-control" placeholder="Civico">
            </div>
            <div class="col-1">
                <label>Cap</label>
                <input type="text" name="indirizzoSedeOperativaCap" [(ngModel)]="cliente.indirizzoSedeOperativa.cap"
                    class="form-control" placeholder="Cap">
            </div>
            <div class="col-2">
                <label>Località</label>
                <input type="text" name="indirizzoSedeOperativaLoc"
                    [(ngModel)]="cliente.indirizzoSedeOperativa.localita" class="form-control" placeholder="Località">
            </div>
            <div class="col-2">
                <label>Provincia: {{cliente.indirizzoSedeOperativa.comune.provincia.nome}}</label>
                <select (ngModelChange)="onChangeObj_oper($event)"
                    (ngModel)="cliente.indirizzoSedeOperativa.comune.provincia" name="provincia_oper"
                    class="form-control">

                    <option [ngValue]="provincia" *ngFor="let provincia of province_oper">{{provincia.sigla}}</option>
                </select>
            </div>
            <div class="col-2">
                <label>Comune: {{cliente.indirizzoSedeOperativa.comune.nome}}</label>
                <select [(ngModel)]="cliente.indirizzoSedeOperativa.comune"
                name="comune_oper" class="form-control">
                <option [ngValue]="comune" *ngFor="let comune of comuni_oper">{{comune.nome}}</option>
                </select>
            </div>
        </div>
        <h4 class="text-center">Dati di indirizzo Sede Legale</h4>
        <div class="form-row m-3">
            <div class="col-4">
                <label>Via</label>
                <input type="text" name="indirizzoSedeLegaleVia" [(ngModel)]="cliente.indirizzoSedeLegale.via"
                    class="form-control" placeholder="Via">
            </div>
            <div class="col-1">
                <label>N°</label>
                <input type="text" name="indirizzoSedeLegaleCiv" [(ngModel)]="cliente.indirizzoSedeLegale.civico"
                    class="form-control" placeholder="Civico">
            </div>
            <div class="col-1">
                <label>Cap</label>
                <input type="text" name="indirizzoSedeLegaleCap" [(ngModel)]="cliente.indirizzoSedeLegale.cap"
                    class="form-control" placeholder="Cap">
            </div>
            <div class="col-2">
                <label>Località</label>
                <input type="text" name="indirizzoSedeLegaleLoc" [(ngModel)]="cliente.indirizzoSedeLegale.localita"
                    class="form-control" placeholder="Località">
            </div>
            <div class="col-2">
                <label>Provincia: {{cliente.indirizzoSedeLegale.comune.provincia.nome}}</label>
                <select  (ngModelChange)="onChangeObj_legale($event)"
                (ngModel)="cliente.indirizzoSedeLegale.comune.provincia" name="provincia_leg"
                    class="form-control">
                    <option [ngValue]="provincia" *ngFor="let provincia of province_legale">{{provincia.sigla}}</option>
                </select>
            </div>
            <div class="col-2">
                <label>Comune {{cliente.indirizzoSedeLegale.comune.nome}}</label>
                <select [(ngModel)]="cliente.indirizzoSedeLegale.comune"
                name="comune_leg" class="form-control">
                    <option [ngValue]="comune" *ngFor="let comune of comuni_legale">{{comune.nome}}</option>
                </select>
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="button" class="btn btn_fucsia btn_fucsia" (click)="setCliente()">{{set_btn}}</button>
        </div>
    </form>

</div>