<div class="mx-2 mt-5">
    <div class="row">
        <div class="Personalform col">
            <h2 class="text-center">Tipi di Cliente (%)</h2>
            <app-first-charts></app-first-charts>
        </div>
        <div class="Personalform col">
            <h2 class="text-center">Clienti con maggior profitto</h2>
            <app-fatturato-echarts></app-fatturato-echarts>
        </div>
    </div>
    <div class="row">
        <div class="Personalform col">
            <h2 class="text-center">Qualche Statistica</h2>
            <app-cards></app-cards>
        </div>
    </div>
</div>