<div class="row">
    <div class="Personalform col-6">
        <h2 class="text-center">Tipi di Cliente (%)</h2>
        <app-first-charts></app-first-charts>
    </div>
    <div class="Personalform col-5">
        <app-fatturato-echarts></app-fatturato-echarts>
    </div>
</div>
<div class="row">
    <div class="Personalform col">
        <app-first-charts></app-first-charts>
    </div>
</div>
<div class="row">
    <div class="Personalform col">
        <app-first-charts></app-first-charts>
    </div>
</div>
