/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Personalform{
    margin: 20px;
    background-color: #424242;
    padding: 30px;
    border:2px solid black;
    border-radius: 15px;
    /* box-shadow:0 12px 15px 0 #b60163,0 17px 50px 0 #b60163; */
}
.btn_fucsia{ 
    background-color: #b60163;
    border: 1px solid #b60163
}

.btn_fucsia:hover{
    background-color: #d80977;

}

input:required,select:required,textarea:required{
    border:3px solid #da7bad;
}


ngb-toast{
    height: 130px;
}



.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
#dash-content{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./assets/img/15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
  .mat-drawer-content{
    overflow-x: hidden;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #b60163;
  }

  #sidenav-content{
      width:250px;
      background-color: #212121;
      box-shadow: 8px 0px 5px 0px #B60163;
  }